* {
    margin: 0;
    padding: 0;
}


/* 
body {
    padding: 20px;
    background-color: #F0F0F5;
} */

.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 150px;
    grid-gap: 10px;
}

#ticket-container {
    font-family: 'Work Sans', sans-serif;
    background-color: white;
    /* width: 450px;
    height: 150px; */
    flex: 1;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: #4E5E71;
    box-shadow: 6px 6px 16px 0 rgba(217, 210, 200, 0.51) !important;
    box-shadow: -6px -6px 26px 0 rgba(255, 255, 255, 0.83) !important;
}

.ticket-left {
    /* width: 150px; */
    height: 100%;
    border-left: 6px solid #ff7043;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}


/* .ticket-left::before {
    content: '';
    border-left: 6px solid slateblue;
 
} */

.left-content {
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.left-content .inf2 p {
    font-size: 12px;
}

.ticket-right {
    /* width: 300px; */
    height: 100%;
    padding: 12px;
    box-sizing: border-box;
}

.right-content {
    /* padding: 8px;
    box-sizing: border-box; */
    border-left: 1px solid #eee;
    padding: 4px 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.line {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding: 4px 0px;
}

.line h3 {
    width: 100%;
}

.right-content .line:last-child {
    border-top: 1px solid #eee;
}

.line p {
    margin: 0;
}

.ticket-icon {
    width: 25px;
    height: 25px;
    padding-right: 8px;
}

.right-content .inf2 {
    display: flex;
    justify-content: space-around;
}

.right-content .inf1 h3 {
    font-size: 16px;
}

.inf2 h3 {
    font-size: 14px;
    font-weight: 600px;
}

.inf2 {
    color: rgb(123, 124, 126);
}