* {
    padding: 0;
    margin: 0;
}

body {
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
}


/* .wave {
    position: fixed;
    height: 100%;
    left: 0;
    bottom: 0;
    z-index: -1;
} */

.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 7rem;
    padding: 0 2rem;
}

.img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.img img {
    width: 300px;
}

.login-container {
    display: flex;
    align-items: center;
    text-align: center;
}

form {
    width: 360px;
}

.avatar {
    width: 100px;
}

form h2 {
    font-size: 2.9rem;
    text-transform: uppercase;
    margin: 15px 0;
    color: #333;
}

.input-div {
    position: relative;
    display: grid;
    grid-template-columns: 7% 93%;
    margin: 25px 0;
    padding: 5px 0;
    border-bottom: 2px solid #d9d9d9;
}

.input-div::after,
.input-div::before {
    content: '';
    position: absolute;
    bottom: -2px;
    width: 0;
    height: 2px;
    background-color: #ff6347;
}

.input-div::after {
    right: 50%;
}

.input-div::before {
    left: 50%;
}

.input-div .i .img-focus {
    filter: saturate(0);
    transition: .5s;
}

.input-div.focus .i .img-focus {
    filter: saturate(1);
    transition: .5s;
}

.input-div.focus div h5 {
    top: 5px;
    font-size: 11px !important;
    transition: 0.5s;
}

.input-div.focus::after,
.input-div.focus::before {
    width: 50%;
}

.input-div.one {
    margin-top: 0;
}

.input-div.two {
    margin-bottom: 4px;
}

.container .i {
    display: flex;
    justify-content: center;
    align-items: center;
}

.i img {
    width: 20px;
    stroke: #d9d9d9 !important;
}

.input-div>div {
    position: relative;
    height: 45px;
}

.input-div>div h5 {
    margin: 0;
    padding: 0;
    position: absolute;
    font-size: 15px !important;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
    font-size: 18px;
    transition: .3s;
}

.input {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border: none;
    outline: none;
    background: none;
    padding: 0.5rem 0.7rem;
    font-size: 12px;
    color: #555;
    font-family: 'Poppins', sans-serif;
}

a {
    display: block;
    text-decoration: none;
    text-align: right;
    color: #999;
    font-size: 0.9rem;
    transition: 0.3s;
}

a:hover {
    color: #ff6347;
}

.btn {
    display: block;
    width: 100%;
    height: 50px;
    border-radius: 25px;
    font-size: 1.2rem;
    outline: none;
    border: none;
    background-color: #ff6347;
    color: #fff;
    font-family: 'Popins', sans-serif;
    transition: 0.5s;
    text-transform: uppercase;
    margin-top: 10px;
    cursor: pointer;
}

btn:hover {
    background-position: right;
}