.swiper-container {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #333;
}

.card {
    position: relative;
    background-color: #fff;
    width: 400px;
    height: 500px;
    margin: 0 auto;
}

.card .content {
    widows: 400px;
    padding: 30px;
    box-sizing: border-box;
}

.card .content a {
    display: inline-block;
    margin: 10px 0 0;
    padding: 10px 20px;
    text-decoration: none;
    font-weight: 600px;
    border: 2px solid #262626;
}

.card .sliderText {
    position: relative;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

.card .sliderText h3 {
    color: #fff;
    font-size: 3em;
}