* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    font-family: 'Work Sans';
    /* --primary-color: #050302; */
    --box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    --primary-color: #ff7043;
    --secondary-color: #ffa270;
    --dark-color: #c63f17;
}


/* wave */

.wave-container {
    position: relative;
    background: #ff7043;
    color: #FFF;
    text-align: center;
    overflow: hidden;
    height: 550px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.wave-container>svg {
    position: absolute;
    bottom: 0;
    display: block;
}

#destinos-container {
    width: 100%;
    height: 100%;
    display: flex;
}


/* sec 1 */

.dest-sec1 {
    width: 100%;
    height: 500px;
    padding: 16px;
    box-sizing: border-box;
    background-color: white;
}

.dest-container {
    width: 400px;
    height: 200px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.12);
}

.dest-content {
    display: flex;
    padding: 16px;
    box-sizing: border-box;
    justify-content: space-between;
}

.content-text {
    display: flex;
    flex-direction: column;
}

.dest-content img {
    width: 200px;
}


/* sec2 */

.dest-sec2 {
    width: 100%;
    height: 400px;
    padding: 16px;
    box-sizing: border-box;
}

.teste-container {
    width: 350px;
    height: 450px;
    background-color: white;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    margin-bottom: 20px;
}

.teste-container svg {
    transform: rotate(180deg)
}

.teste-content {
    padding: 16px;
    box-sizing: border-box;
    margin-top: -50px;
}

.teste-content img.torre {
    width: 300px;
    height: 200px;
}

.line {
    display: flex;
    font-weight: normal;
    font-size: 14px;
    align-items: center;
}

.icon {
    width: 25px;
    height: 25px;
    padding-right: 8px;
}

.teste-footer {
    display: flex;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    padding: 8px;
    box-sizing: border-box;
}

.teste-footer button {
    border: none;
    outline: none;
    width: 60px;
    height: 20px;
    background-color: #ff7043;
    padding: 4px;
    box-sizing: border-box;
    color: #FFF;
}