<<<<<<< HEAD
@import url('../fonts/WorkSans/WorkSans-Regular.ttf');

@font-face{
    font-family: work;
    src: url('../fonts/WorkSans/WorkSans-Regular.ttf');
}
=======
>>>>>>> 6346c2475853313e93d54852fe1d660aefa9acb0
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    font-family: 'Work Sans';
    --primary-color: #050302;
    --box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

div#container-page {
    width: 100%;
    height: 100%;
    position: relative;
}

.nav-menu {
    /* background-color: #fff; */
    position: fixed;
    display: flex;
    z-index: 99;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    transition: .3s;
    font-size: 18px;
}

.nav-menu.scroll {
    background-color: #ff7043;
    transition: .3s;
    color: white;
}

.nav-menu ul#nav-list {
    display: flex;
    list-style: none;
    width: min-content;
    height: 100%;
    align-items: center;
}

.nav-menu ul#nav-list li {
    width: 100%;
    height: 100%;
    display: flex;
}

.nav-menu ul#nav-list li a {
    text-decoration: none;
    text-transform: capitalize;
    /* width: 100%;
        height: 100%; */
    flex: 1;
    align-items: center;
    display: flex;
    padding: 16px;
    box-sizing: border-box;
    color: white;
}

.nav-menu div.nav-logo {
    height: 100%;
    width: min-content;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.wave-container {
    position: relative;
    background: #ff7043;
    color: #FFF;
    text-align: center;
    overflow: hidden;
    height: 550px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.wave-container p,
h1 {}


/* 
h1 {
    font-size: 5rem;
    margin: 7rem 1.25rem 2.5rem 1.25rem;
} */


/* p {
    font-size: 1.5rem;
    margin: 0 1.25rem 5rem 1.25rem; */

.wave-container>svg {
    position: absolute;
    bottom: 0;
    display: block;
}


/*sec2*/

.sec2 {
    width: 100%;
    height: 500px;
    background-color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sec2-container {
    padding: 16px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
}

.sec2-content {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 8px;
    box-sizing: border-box;
}

.content-img img {
    width: 150px;
}

.content-text {
    text-align: center;
}

.content-text h3 {
    font-size: 21px;
}

.content-text p {
    font-size: 21px;
}


/* sec3*/

.sec3 {
    width: 100%;
    height: 500px;
    background-color: white;
    padding: 16px;
    box-sizing: border-box;
}

h1.title-section {
    text-align: center;
    font-size: 45px;
    font-weight: bolder;
    margin: 0;
    padding: 0;
}

.sec3-container {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 350px;
    padding: 16px;
    box-sizing: border-box;
}

.sec3-container div {
    padding: 16px;
    box-sizing: border-box;
}

.sec-left p,
h3 {
    margin: 0;
    font-size: 21px;
}

.sec-left h3 {
    margin-bottom: 20px;
}

.sec-right {
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec-right img {
    width: 400px;
}


/* sec4*/

.sec4 {
    position: relative;
    width: 100%;
    height: 500px;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fdfdfd;
}

.sec4-container {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 400px);
    grid-template-rows: 150px;
    grid-gap: 36px;
    /* height: 200px;
    width: 200px;  */
}

#ticket-container {
    position: relative;
    font-family: 'Work Sans', sans-serif;
    /* width: 400px; */
    max-width: 400px;
    height: 150px;
    flex: 1;
    border-radius: 5px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    color: #4E5E71;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    /* box-shadow: inset 6px 6px 16px 0 rgba(217, 210, 200, 0.51) !important;
    box-shadow: inset -6px -6px 26px 0 rgba(255, 255, 255, 0.83) !important; */
    background-color: white;
    /* margin: 10px; */
}

.ticket-left {
    flex: 1;
    height: 100%;
    border-left: 6px solid #ff7043;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}


/* .ticket-left::before {
    content: '';
    border-left: 6px solid slateblue;
} */

.left-content {
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.left-content .inf2 p {
    font-size: 12px;
}

.ticket-right {
    height: 100%;
    padding: 12px;
    box-sizing: border-box;
    flex: 1;
}

.right-content {
    border-left: 1px solid #eee;
    padding: 4px 16px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.line {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    padding: 4px 0px;
}

.line h3 {
    width: 100%;
}

.right-content .line:last-child {
    border-top: 1px solid #eee;
}

.line p {
    margin: 0;
}

.ticket-icon {
    width: 25px;
    height: 25px;
    padding-right: 8px;
}

.right-content .inf2 {
    display: flex;
    justify-content: space-around;
}

.right-content .inf1 h3 {
    font-size: 16px;
}

.inf2 h3 {
    font-size: 14px;
    font-weight: 600px;
}

.inf2 {
    color: rgb(123, 124, 126);
}


/*sec5*/

div.sec5 {
    margin-top: 100px;
    position: relative;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 250px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.sec5-container {
    width: 50%;
    height: 100%;
    overflow: hidden;
    position: relative;
    /* width: 450px;
    height: 150px; */
    border-radius: 5px;
    /* display: grid;
    grid-template-columns: 1fr 2fr; */
    /* color: #4E5E71; */
    box-shadow: var(--box-shadow);
    /* box-shadow: 6px 6px 16px 0 rgba(217, 210, 200, 0.51) !important;
    box-shadow: -6px -6px 26px 0 rgba(255, 255, 255, 0.83) !important; */
}

div.report-dots {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

span.dot {
    display: block;
    width: 15px;
    height: 15px;
    border-radius: 20px;
    background-color: #ffa270;
    position: relative;
    cursor: pointer;
}

.dot.on {
    background-color: #ff7043;
}

div#slide {
    position: absolute;
    width: calc(100% * 4);
    left: 0%;
    display: flex;
    height: 100%;
    transition: 0.5s;
    background-color: white;
}

.report {
    display: flex;
    width: calc(100% / 4);
    height: 100%;
    padding: 16px;
    box-sizing: border-box;
}


/* report card*/

.report-image {
    width: 300px;
    height: 100%;
    border-radius: 100%;
}

.report-image img {
    object-fit: contain;
}

.report-info {
    position: relative;
    padding: 8px;
    box-sizing: border-box;
}

.report-title h2 {
    font-size: 18px;
}

.report-title p {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

.report-content {
    padding: 8px 0;
    box-sizing: border-box;
    font-size: 14px;
}


/* sec6*/

.sec6 {
    width: 100%;
    height: 100vh;
    background-color: #fdfdfd;
}

.sec6-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sec6-container img {
    max-width: 750px;
}


/* FOOTER */

.wave-container2 svg {
    display: block;
}

footer {
    width: 100%;
    height: 200px;
    background-color: #ff7043;
    color: white;
}

.footer-container {
    display: flex;
    padding: 16px;
    box-sizing: border-box;
    width: 100%;
}

.footer-content {
    margin-top: -40px;
    width: calc(100% / 3);
}

.footer-container h1 {
    font-size: 21px;
    margin: 0;
}

.footer-container p {
    margin: 0;
    font-size: 21px;
}

.footer-container input {
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid white;
    width: 300px;
    color: white;
}

.footer-content.about .contacts {
    margin-top: 10px;
}

.footer-content.about .contacts div {
    display: flex;
}

.footer-content.about .contacts div img {
    margin-right: 10px;
    width: 20px;
}

.footer-content.fale {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-content.fale p {
    font-size: 16px;
}

#form-footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    width: 100%;
    height: 100%;
}

#form-footer input::placeholder {
    color: #fdfdfd;
    font-family: 'Work Sans';
}

#form-footer div {
    margin: 10px 0;
}

#form-footer textarea {
    border: none;
    outline: none;
    resize: none;
    width: 300px;
    height: 70px;
}


/*ticket*/