    * {
        padding: 0;
        margin: 0;
    }
    
    body {
        background-color: #efefef;
        font-family: Arial, Helvetica, sans-serif;
        --primary-color: #ff7043;
        --box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
    }
    
    div#container-page {
        width: 100%;
        height: 100%;
        position: relative;
    }
    
    .nav-menu {
        /* background-color: #fff; */
        position: fixed;
        display: flex;
        z-index: 99;
        width: 100%;
        height: 40px;
        justify-content: space-between;
        align-items: center;
        padding: 4px;
        box-sizing: border-box;
        color: #808080;
        transition: .3s;
    }
    
    .nav-menu.scroll {
        background-color: rgb(204, 204, 204);
        transition: .3s;
        color: white;
    }
    
    .nav-menu ul#nav-list {
        display: flex;
        list-style: none;
        width: min-content;
        height: 100%;
        align-items: center;
    }
    
    .nav-menu ul#nav-list li {
        width: 100%;
        height: 100%;
        display: flex;
    }
    
    .nav-menu ul#nav-list li a {
        text-decoration: none;
        text-transform: capitalize;
        /* width: 100%;
        height: 100%; */
        flex: 1;
        align-items: center;
        display: flex;
        padding: 16px;
        box-sizing: border-box;
        color: #808080;
    }
    
    .nav-menu div.nav-logo {
        height: 100%;
        width: min-content;
        padding: 16px;
        box-sizing: border-box;
        display: flex;
        align-items: center;
    }
    /* sections */
    
    .sections {
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    /*SECTION1*/
    
    div.section-container1 {
        position: relative;
        display: flex;
        justify-content: space-around;
        width: 95%;
        height: 400px;
        margin: 60px 0;
        background-color: white;
        border-radius: 10px;
        padding: 21px;
        box-sizing: border-box;
        box-shadow: var(--box-shadow);
        /* box-shadow: -3px -3px 16px 0 rgba(255, 255, 255, 0.83) !important;
        box-shadow: 6px 6px 16px 0 rgba(217, 210, 200, 0.51); */
    }
    
    div.section-container1 div,
    .section-container3 div {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 21px;
        box-sizing: border-box;
    }
    
    div.section-container1 div h1,
    div.section-container3 div h1 {
        font-size: 18px;
    }
    
    div.section-container1 div p,
    div.section-container3 div p {
        font-size: 16px;
    }
    
    div.section-container1 div.section-right {
        width: 40%;
        height: 100%;
    }
    
    div.section-container1 div.section-left {
        background-color: var(--primary-color);
        width: 60%;
        height: 100%;
        border-radius: 10px;
    }
    /* SECTION2 */
    
    div.section-container2 {
        position: relative;
        justify-content: space-around;
        margin: 20px 0;
        padding: 16px;
        box-sizing: border-box;
        width: 100%;
        /* min-height: 400px;
        max-height: 800px; */
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-gap: 20px;
    }
    
    div.card-container {
        min-width: 300px;
        height: 300px;
        box-sizing: border-box;
        display: flex;
        justify-content: space-around;
    }
    
    div.card-content {
        width: 250px;
        height: 100%;
        background-color: white;
        border-radius: 10px;
        /* box-shadow: -3px -3px 16px 0 rgba(255, 255, 255, 0.83) !important;
        box-shadow: 6px 6px 16px 0 rgba(217, 210, 200, 0.51); */
        box-shadow: var(--box-shadow);
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .card-img {
        width: 140px;
        height: 140px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-image: url('../src/svg/blob-shape.svg');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }
    
    .card-img svg {
        fill: white !important;
        stroke: white !important;
    }
    
    img.icon {
        width: 50px;
        height: 50px;
    }
    
    .card-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 8px;
        box-sizing: border-box;
    }
    
    .card-info h2 {
        margin: 0;
        padding: 0;
        font-size: 16px;
    }
    
    .card-info p {
        margin: 0;
        padding: 0;
        font-size: 14px;
        text-align: center;
    }
    /* SECTION 3*/
    
    div.section-container3 {
        position: relative;
        display: flex;
        justify-content: space-around;
        width: 95%;
        height: 400px;
        margin: 20px 0;
        background-color: white;
        border-radius: 10px;
        padding: 21px;
        box-sizing: border-box;
        /* box-shadow: -3px -3px 16px 0 rgba(255, 255, 255, 0.83) !important;
        box-shadow: 6px 6px 16px 0 rgba(217, 210, 200, 0.51); */
        box-shadow: var(--box-shadow);
    }
    
    div.section-container3 div#section-right {
        width: 60%;
        height: 100%;
        background-color: var(--primary-color);
        border-radius: 10px;
    }
    
    div.section-container3 div#section-left {
        width: 40%;
        height: 100%;
        border-radius: 10px;
    }
    /* SECTION 4*/
    
    div.section-container4 {
        position: relative;
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 400px;
        margin: 20px 0;
        border-radius: 10px;
        padding: 21px;
        box-sizing: border-box;
    }
    /* SECTION 5 */
    
    div.section-container5 {
        position: relative;
        display: flex;
        justify-content: space-around;
        width: 95%;
        height: 400px;
        margin: 60px 0;
        background-color: white;
        border-radius: 10px;
        padding: 21px;
        box-sizing: border-box;
        /* box-shadow: -3px -3px 16px 0 rgba(255, 255, 255, 0.83) !important;
        box-shadow: 6px 6px 16px 0 rgba(217, 210, 200, 0.51); */
        box-shadow: var(--box-shadow);
    }
    
    div.section-container5 div img {
        object-fit: contain;
    }
    
    div.section-container5 div.blob1 {
        top: 40%;
        left: 40%;
        transform: translate(-181%, 15%);
        position: absolute;
        width: 200px;
        height: 200px;
    }
    
    div.section-container5 div.blob2 {
        position: absolute;
        width: 300px;
        height: 300px;
    }
    /* SECTION 6*/
    
    div.section-container6 {
        position: relative;
        width: 100%;
        height: 500px;
        margin: 20px 0;
        padding: 21px;
        box-sizing: border-box;
        display: grid;
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        grid-template-rows: repeat(8, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        /* grid-gap: 15px; */
    }
    
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 8px;
    }
    
    .img1 {
        grid-area: 1 / 1 / 6 / 3;
    }
    
    .img2 {
        grid-area: 6 / 1 / 9 / 3;
    }
    
    .img3 {
        grid-area: 1 / 3 / 4 / 5;
    }
    
    .img4 {
        grid-area: 4 / 3 / 9 / 5;
    }
    
    .img5 {
        grid-area: 1 / 5 / 9 / 7;
    }
    
    .img6 {
        grid-area: 6 / 7 / 9 / 9;
    }
    
    .img7 {
        grid-area: 1 / 7 / 6 / 9;
    }
    /* SECTION 7 */
    
    div.section-container7 {
        position: relative;
        display: flex;
        justify-content: space-around;
        width: 100%;
        height: 250px;
        margin: 20px 0;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    div.report-container {
        width: 50%;
        background-color: white;
        height: 100%;
        border-radius: 10px;
        /* box-shadow: -3px -3px 16px 0 rgba(255, 255, 255, 0.83) !important;
        box-shadow: 6px 6px 16px 0 rgba(217, 210, 200, 0.51); */
        box-shadow: var(--box-shadow);
        overflow: hidden;
        position: relative;
    }
    
    div.report-dots {
        position: relative;
        width: 150px;
        height: 100px;
        display: flex;
        justify-content: space-around;
        margin-top: 30px;
    }
    
    span.dot {
        display: block;
        width: 30px;
        height: 7px;
        border-radius: 20px;
        background-color: #ccc;
        position: relative;
        cursor: pointer;
    }
    
    .dot.on {
        background-color: #333;
    }
    
    div#slide {
        position: absolute;
        width: calc(100% * 4);
        left: 0%;
        display: flex;
        height: 100%;
        transition: 0.5s;
        background-color: white;
    }
    
    .report {
        display: flex;
        width: calc(100% / 4);
        height: 100%;
        padding: 16px;
        box-sizing: border-box;
    }
    /* report card*/
    
    .report-image {
        width: 300px;
        height: 100%;
        border-radius: 100%;
    }
    
    .report-image img {
        object-fit: contain;
    }
    
    .report-info {
        position: relative;
        padding: 8px;
        box-sizing: border-box;
    }
    
    .report-title h2 {
        font-size: 18px;
    }
    
    .report-title p {
        font-size: 14px;
        font-weight: bold;
        color: #333;
    }
    
    .report-content {
        padding: 8px 0;
        box-sizing: border-box;
        font-size: 14px;
    }
    /* FOOTER */
    
    footer {
        width: 100%;
        height: 200px;
        background-color: rgb(204, 204, 204);
        margin-top: 20px;
    }
    /* RESPONSIVE */
    
    @media screen and (max-width: 1200px) {
        div.section-container2 {
            grid-template-columns: 1fr 1fr;
        }
    }
    
    @media screen and (max-width: 600px) {
        div.section-container2 {
            grid-template-columns: 1fr;
        }
    }