.nav-menu {
    /* background-color: #fff; */
    position: fixed;
    display: flex;
    z-index: 99;
    width: 100%;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 4px;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    transition: .3s;
    font-size: 18px;
}

.nav-menu.scroll {
    background-color: #ff7043;
    transition: .3s;
    color: white;
}

.nav-menu ul#nav-list {
    display: flex;
    list-style: none;
    width: min-content;
    height: 100%;
    align-items: center;
}

.nav-menu ul#nav-list li {
    width: 100%;
    height: 100%;
    display: flex;
}

.nav-menu ul#nav-list li a {
    text-decoration: none;
    text-transform: capitalize;
    /* width: 100%;
        height: 100%; */
    flex: 1;
    align-items: center;
    display: flex;
    padding: 16px;
    box-sizing: border-box;
    color: white;
}

.nav-menu div.nav-logo {
    height: 100%;
    width: min-content;
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}