* {
    padding: 0;
    margin: 0;
}

body {
    background-color: white;
    font-family: 'Work Sans';
    /* --primary-color: #050302; */
    --box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    --primary-color: #ff7043;
    --secondary-color: #ffa270;
    --dark-color: #c63f17;
}


/* wave */

.wave-container {
    position: relative;
    background: #ff7043;
    color: #FFF;
    text-align: center;
    overflow: hidden;
    height: 550px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.wave-container>svg {
    position: absolute;
    bottom: 0;
    display: block;
}


/* sec 1 */

.pacotes-sec1 {
    width: 100%;
    height: 100px;
    background-color: #fff;
    border-bottom: 1px solid #ccc;
}

.pac1-content {
    padding: 16px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

input {
    outline: none;
    border: 1px solid #ccc;
    border-radius: 3px;
    height: 25px;
    color: #333;
    font-family: 'Work Sans';
    padding: 4px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 150px;
    height: 40px;
    background-color: var(--primary-color);
    border-radius: 20px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
}

input[type="range"] {
    -webkit-appearance: none;
    width: 200px;
    position: relative;
    border: none;
}

.range::-webkit-slider-runnable-track {
    position: relative;
    width: 100%;
    background-color: #d7dbdd;
    height: 5px;
    border-radius: 3px;
    border: 1px solid transparent;
}

.range::-webkit-slider-thumb {
    -webkit-appearance: none !important;
    border-radius: 100%;
    background-color: #606670;
    height: 12px;
    width: 12px;
    margin-top: -5px;
}


/* sec 2 */

.pacotes-sec2 {
    width: 100%;
    height: 300px;
    background-color: white;
}